body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #E4E4E4;
}

a {
    text-decoration: none;
}

.clientes-list li{
    border: 1px #ffffff3d solid;
    text-align: center;
    height: 100%;
}

.clientes-list li p{
    color: #69968a;
    height: 15px;
    margin-top: -1px;
}


.hidden {
    display: none;
}


.dias-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
}
.dias-grid label {
    display: flex;
    align-items: center;
    font-size: 10px !important;
    padding: 4px;
    border-radius: 10px;
    background-color: #3b61a1;
    color: white;
}
.content input {
    padding: 10px;
    border: 2px solid #3B61A1;
    border-radius: 20px;
    margin-top: 5px;
    height: 8px;
}
.content label {
    margin-top: 10px;
    font-size: 12px;
}

.container {
    display: flex;
    width: 800px;
    height: 70%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.sidebar {
    width: 50px;
    background-color: #3B61A1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px 0 0 20px;
}

.home-icon {
    width: 30px;
    height: 30px;
}

.content {
    flex: 1;
    background-color: #F4F4F4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 0 0 20px 0;
}

.content form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.content h2 {
    color: #3B61A1;
    text-align: center;
}

.content label {
    margin-top: 10px;
    color: #3B61A1;
}

.content input {
    padding: 10px;
    border: 2px solid #3B61A1;
    border-radius: 20px;
    margin-top: 5px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.buttons .voltar {
    background-color: #E94E3F;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.buttons .proximo {
    background-color: #619CA1;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.image-container {
    width: 300px;
    background-color: #3B61A1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 0 20px 20px 0;
}

.image-container img {
    width: 400px;
    height: auto;
}

.brand {
    margin-top: 10px;
    font-size: 24px;
}





.providerSelect{
    display: flex;
    flex-direction: column;
    width: 250px;
}

.providerSelect button{
    transition-duration: 0.4s;
    display: flex;
    margin-top: 20px;
    background-color: #3B61A1; 
    color: rgb(255, 255, 255); 
    border: 2px solid #3B61A1;
    border-radius: 20px;
    cursor: pointer;
    height: 40px;
    align-items: center;
    font-size: larger;
    width: 320px;
}

.providerSelect button:hover {
    background-color: #cbcbcb;
    color: rgb(0, 0, 0);
}

.providerSelect button img {
    width: 30px;
}





.clientes-container {
    background-color: #3B61A1;
    border-radius: 20px;
    padding: 20px;
    width: 95%;
    margin: 20px 0;
    height: 150px;
    overflow-y: scroll;
}

.clientes-list {
    list-style: none;
    padding: 0;
    color: white;
}

.clientes-list li {
    margin-bottom: 10px;
    font-size: 12px;
}


#alertBox {
    position:relative;
    width:300px;
    min-height:100px;
    margin-top:50px;
    border:1px solid #666;
    background-color:#fff;
    background-repeat:no-repeat;
    background-position:20px 30px;
}

#modalContainer > #alertBox {
    position:fixed;
}

#alertBox h1 {
    margin:0;
    font:bold 0.9em verdana,arial;
    background-color:#3073BB;
    color:#FFF;
    border-bottom:1px solid #000;
    padding:2px 0 2px 5px;
}

#alertBox p {
    font:0.7em verdana,arial;
    height:50px;
    padding-left:5px;
    margin-left:55px;
}

#alertBox #closeBtn {
    display:block;
    position:relative;
    margin:5px auto;
    padding:7px;
    border:0 none;
    width:70px;
    font:0.7em verdana,arial;
    text-transform:uppercase;
    text-align:center;
    color:#FFF;
    background-color:#357EBD;
    border-radius: 3px;
    text-decoration:none;
}

/* unrelated styles */

#mContainer {
    position:relative;
    width:600px;
    margin:auto;
    padding:5px;
    border-top:2px solid #000;
    border-bottom:2px solid #000;
    font:0.7em verdana,arial;
}

/* h1,h2 {
    margin:0;
    padding:4px;
    font:bold 1.5em verdana;
    border-bottom:1px solid #000;
} */

code {
    font-size:1.2em;
    color:#069;
}

#credits {
    position:relative;
    margin:25px auto 0px auto;
    width:350px; 
    font:0.7em verdana;
    border-top:1px solid #000;
    border-bottom:1px solid #000;
    height:90px;
    padding-top:4px;
}

#credits img {
    float:left;
    margin:5px 10px 5px 0px;
    border:1px solid #000000;
    width:80px;
    height:79px;
}

.important {
    background-color:#F5FCC8;
    padding:2px;
}

code span {
    color:green;
}